{% extends 'layout.html'%} <!--
    this where all our common code for the layout
    will be rendered
-->

<!--
    this is how you have to insert your DOM Elements on different
    pages without re-writting the whole page
-->
{%block title%}
Programming with Flask
{%endblock%}

{%block body%}
<h1>Login</h1>
<form action="" method  ="post">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value="{{request.form.username}}">
    </div>    
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" value="{{request.form.password}}">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{%endblock%}